.menu-container {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

.menu-container > button {
    font-size: 2.5rem;
    padding: 1.3rem 2rem;
    border-radius: 1.2rem;
    border: hidden;
    background-color: var(--color-secondary);
    color: var(--color-button-text);
    cursor: pointer;
    flex: 1;
    width: 80vw;
}

.menu-container > button:first-of-type {
    margin-bottom: 1.5rem;
}

.menu-container > button:hover {
    background-color: var(--color-secondary-dark);
}

.menu-container > button:active {
    opacity: 0.8;
}

.menu-container > button > * {
    pointer-events: none;
}
